/* EDITOR BUTTON AND DIALOG STYLES */

#wprss-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    z-index: 1000;
}

#wprss-editor-dialog {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 500px;
	height: 550px;
	margin: auto;
	border: 0;
}

.wprss-dialog-header {
	background: #de3c19;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 10px 3px;
}

.wprss-dialog-header,
.wprss-dialog-header > * {
	line-height: 1.5em;
}

.wprss-dialog-header h1 {
	color: #fff;
	font-size: 16px;
	font-weight: normal;
	margin: 0 15px 0;
	line-height: 1.5em;
	display: inline-block;
}

.wprss-dialog-header .close-btn {
	display: inline-block;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	line-height: 1.5em;
	padding: 0 8px 3px;
	margin-right: 10px;
	float: right;
	border-radius: 3px;
}
.wprss-dialog-header .close-btn:hover {
	background: rgba(255, 255, 255, 0.2);
}

.wprss-dialog-inside {
	position: absolute;
	top: 30px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
}

.wprss-dialog-inside table {
	position: absolute;
	display: inline-block;
	top: 0;
	left: 0;
	right: 0;
	height: auto;
	padding: 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.wprss-dialog-inside table tr td:first-child {
	font-weight: bold;
}


#wprss-dialog-sources-container {
	margin-top: 10px;
}

#wprss-dialog-feed-source-list,
#wprss-dialog-exclude-list {
	min-width: 100px;
	min-height: 100px;
}

#wprss-dialog-exclude-row td p:first-child {
	margin-top: 0;
}

#wprss-dialog-exclude-label {
	vertical-align: top;
}

#validate-feed-link {
	font-size: 0.85em;
	text-decoration: none;
	margin-left: 3px;
}
