.wprss-input {
    background: none repeat scroll 0 0 #EAF2FA;
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
    width: 600px;
}

.wprss-input p { line-height: 28px; }

.wprss-input label {
    float: left;
    width: 95px !important;
}
    
.wprss-input input {
    height: 28px;
    margin-bottom: 0;
    padding: 0 0 0 5px;
    width: 400px;
}

#icon-wprss-aggregator {
    background: transparent url( '../images/icon-adminpage32.png' ) no-repeat !important;
}

body.post-type-wprss_feed #titlediv div.inside { display: none !important; }

#misc-publishing-actions,
#minor-publishing-actions { display: none; }

#custom_meta_box .form-table th { width: 100px; }

body.post-type-wprss_feed_item .add-new-h2, 
body.post-type-wprss_feed_item .tablenav select[name="m"],
body.post-type-wprss_feed_item #post-query-submit
{ display: none; }

body.post-type-wprss_feed_item a.row-title {
            cursor: default;
            font-weight: normal;
            color: #555;
}

#latest-news-cpac-settings li {
list-style: none;
line-height: 16px;
}

li.twitter a {
background: transparent url('../images/twitter.png') no-repeat 0;
padding-left: 20px;
}

li.facebook a {
background: transparent url('../images/facebook.png') no-repeat 0;
padding-left: 20px;
}

li.donate_link a:hover {
color: darkGreen;
}

#preview_meta_box ul {
    list-style: disc;
    margin-left: 16px;
}

#preview_meta_box .invalid-feed-url {
    color: red;
}

#preview_meta_box .rss-date { 
    color: #666;

}

/*.rss-aggregator_page_wprss-aggregator-settings .form-table th { width: 80px; }*/


/* For excerpts and thumbnails admin screens */
.wprss_feed_page_wprss-aggregator-settings input,
.wprss_feed_page_wprss-aggregator-settings input[type="checkbox"], 
.wprss_feed_page_wprss-aggregator-settings input[type="radio"] {
    margin-right: 8px; 
}

input#default-thumbnail,
input#wprss-et-license-key,
input#wprss-c-license-key,
input#wprss-kf-license-key, 
input#wprss-ftp-license-key { 
    width: 300px; 
}

input#thumbnails-height,
input#thumbnails-width {
    /*width: 29px;*/
}


/* Red Button */

.wp-core-ui .button-red {
    background-color: #9B2124;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#C5292E), to(#9B2124));
    background-image: -webkit-linear-gradient(top, #C5292E, #9B2124);
    background-image:    -moz-linear-gradient(top, #C5292E, #9B2124);
    background-image:     -ms-linear-gradient(top, #C5292E, #9B2124);
    background-image:      -o-linear-gradient(top, #C5292E, #9B2124);
    background-image:   linear-gradient(to bottom, #C5292E, #9B2124);
    border-color: #9B2124;
    border-bottom-color: #8D1F21;
    -webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,0.5);
    box-shadow: inset 0 1px 0 rgba(120,200,230,0.5);
    color: #fff;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0,0,0,0.1);
    /*float: right;*/
}

.wp-core-ui .button-red.hover,
.wp-core-ui .button-red:hover,
.wp-core-ui .button-red.focus,
.wp-core-ui .button-red:focus {
    background-color: #B72629;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#D22E30), to(#9B2124));
    background-image: -webkit-linear-gradient(top, #D22E30, #9B2124);
    background-image:    -moz-linear-gradient(top, #D22E30, #9B2124);
    background-image:     -ms-linear-gradient(top, #D22E30, #9B2124);
    background-image:      -o-linear-gradient(top, #D22E30, #9B2124);
    background-image:   linear-gradient(to bottom, #D22E30, #9B2124);
    border-color: #7F1C1F;
    -webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,0.6);
    box-shadow: inset 0 1px 0 rgba(120,200,230,0.6);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
}

.wp-core-ui .button-red.focus,
.wp-core-ui .button-red:focus {
    border-color: #500F0E;
    -webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,0.6), 1px 1px 2px rgba(0,0,0,0.4);
    box-shadow: inset 0 1px 0 rgba(120,200,230,0.6), 1px 1px 2px rgba(0,0,0,0.4);
}

.wp-core-ui .button-red.active,
.wp-core-ui .button-red.active:hover,
.wp-core-ui .button-red.active:focus,
.wp-core-ui .button-red:active {
    background: #7F1C1F;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#9B2124), to(#B72629));
    background-image: -webkit-linear-gradient(top, #9B2124, #B72629);
    background-image:    -moz-linear-gradient(top, #9B2124, #B72629);
    background-image:     -ms-linear-gradient(top, #9B2124, #B72629);
    background-image:      -o-linear-gradient(top, #9B2124, #B72629);
    background-image:   linear-gradient(to bottom, #9B2124, #B72629);
    border-color: #601312 #AE2426 #AE2426 #AE2426;
    color: rgba(255,255,255,0.95);
    -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
    text-shadow: 0 1px 0 rgba(0,0,0,0.1);
}

.wp-core-ui .button-red[disabled],
.wp-core-ui .button-red:disabled,
.wp-core-ui .button-red-disabled {
    color: #E79496 !important;
    background: #BA292B !important;
    border-color: #7F1C1F !important;
    -webkit-box-shadow: none !important;
    box-shadow:         none !important;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.1) !important;
    cursor: default;
}

#system-info-textarea {
    width: 800px;
    height: 400px;
    font-family: Menlo, Monaco, monospace;
    background: none;
    white-space: pre;
    overflow: auto;
    display: block;
}


/* Number Roller for Feed Source Limit */
.wprss-number-roller {
    width: 120px;
}

/* Welcome Screen */
.about-wrap ul {
    list-style: disc;
    padding-left: 30px;
}

/* Excerpts and Thumbnails */

input#thumbnails-height,
input#thumbnails-width {
    margin-right: 2px;
} 

label[for=thumbnails-height],
label[for=thumbnails-width] {
    margin-left: 8px;
}

.wp-list-table > thead > tr > th#thumbnail[scope="col"] {
    width: 95px;
}

select + label.description {
    margin-left: 8px;
}

input#title-limit {
    width: 100px;
}

.wprss-form-table th,
.wprss-form-table tr,
.wprss-form-table td {
    border: 0 transparent !important;
}

.wprss-indicator-green,
.wprss-indicator-red,
.wprss-indicator-grey {
    font-size: 1.6em;
    vertical-align: middle;
    margin-right: 10px;
    line-height: 30px;
}
.wprss-indicator-green {
    color: #009922;
}
.wprss-indicator-grey {
    color: #888;
}
.wprss-indicator-red {
    color: #EB442A;
}


.wprss-meta-slider {
    display: none;
    margin-top: 5px;
}

.wprss-slider-button {
    cursor: pointer;
    margin-right: 8px !important;
}

#wprss_activate_feed,
#wprss_pause_feed {
    display: block;
}

.wprss-date-error {
    background: rgba( 245, 45, 45, 0.6 );
}

div.wprss-meta-side-setting {
    display: block;
    padding: 8px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

div.wprss-meta-side-setting > p {
    margin: 2px 0;
}
div.wprss-meta-side-setting > p > label {
    vertical-align: baseline;
}
div.wprss-meta-side-setting a.wprss-slider-button {
    vertical-align: middle;
}

div.inside .wprss-meta-side-setting:last-child {
    border-bottom: 0 solid transparent;
}


.column-title { text-align: left; width:20% !important; overflow:hidden }
.column-url { text-align: left; width:40% !important; overflow:hidden }
.column-category { text-align: left; width:15% !important; overflow:hidden }
.column-id { text-align: left; width:5% !important; overflow:hidden }
.column-next-update { text-align: left; width:10% !important; overflow:hidden }
.column-state { text-align: left; width:10% !important; overflow:hidden }


/* Log textarea styles */
#wprss-log-textarea {
    width: 800px;
    height: 400px;
    font-family: Menlo, Monaco, monospace;
    background: none;
    white-space: pre-wrap;
    overflow: auto;
    display: block;
    background: rgb( 255, 245, 245 );
}