/* EDITOR BUTTON AND DIALOG STYLES */

#wprss-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    z-index: 999;
}

#wprss-editor-dialog {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 500px;
	height: 450px;
	margin: auto;
}

.wprss-dialog-header {
	background: #464646;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 30px;
}

.wprss-dialog-header h1 {
	color: #ddd;
	text-shadow: rgb(68, 68, 68) 0px -1px 0px;
	font-size: 16px;
	font-weight: normal;
	margin: 7px 0 15px 6px;
}

.wprss-dialog-header .close-btn {
	position: absolute;
	top: 4px;
	right: 10px;
	color: #ccc;
	font-size: 18px;
	font-weight: bold;
	padding: 0px 6px 2px;
	border-radius: 20px;
	cursor: pointer;
}
.wprss-dialog-header .close-btn:hover {
	background: white;
	color: black;
}


.wprss-dialog-inside {
	position: absolute;
	top: 30px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
}

.wprss-dialog-inside table {
	position: absolute;
	display: inline-block;
	top: 0;
	left: 0;
	right: 0;
	height: auto;
	padding: 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.wprss-dialog-inside table tr td:first-child {
	font-weight: bold;
}


#wprss-dialog-sources-container {
	margin-top: 10px;
}

#wprss-dialog-feed-source-list,
#wprss-dialog-exclude-list {
	min-width: 100px;
	min-height: 100px;
}

#wprss-dialog-exclude-row td p:first-child {
	margin-top: 0;
}

#wprss-dialog-exclude-label {
	vertical-align: top;
}

#validate-feed-link {
	font-size: 0.85em;
	text-decoration: none;
	margin-left: 10px;
}