li.feed-item { margin-bottom: 20px; }

.thumbnail-excerpt { 
	overflow:hidden;
}

.thumbnail-excerpt img {
	max-width:100%; float:left; margin-top: 0.5em; margin-right:10px;
}

span.feed-source { font-size: 90%;}