<ul class="wpra-item-list">
    {% set hasItems = false %}
    {% for item in items %}
        {% set hasItems = true %}
        <li class="wpra-item">
            {{ options.before_item|raw }}
            {{ include(self.dir ~ 'feed-item.twig') }}
            {{ options.after_item|raw }}
        </li>
    {% endfor %}
    {% if hasItems and options.pagination_enabled and pagination.total > pagination.num_items %}
        {{ include(self.dir ~ options.pagination_type ~ '-pagination.twig') }}
    {% endif %}
    {% if not hasItems %}
        <p>{% trans "No feed items found." %}</p>
    {% endif %}
</ul>
