{
  "presets": [
    ["env", {"loose": true, "modules": false}],
    ["es2015", {"loose": true, "modules": false}],
    "stage-2"
  ],
  "plugins": [
    "jsx-event-modifiers",
    "babel-plugin-transform-class-properties",
    "transform-vue-jsx"
  ]
}
