.idea/**            export-ignore
nbproject/**        export-ignore
/build/**           export-ignore
/js/src/**          export-ignore
/css/src/**         export-ignore
node_modules/**     export-ignore
test/**             export-ignore
/webpack/**         export-ignore
.babelrc            export-ignore
.gitignore          export-ignore
.gitattributes      export-ignore
build.xml           export-ignore
composer.json       export-ignore
composer.lock       export-ignore
package.json        export-ignore
package-lock.json   export-ignore
phpunit.xml         export-ignore
README.md           export-ignore
webpack.config.js   export-ignore
