/.git
/.DS_Store/
/.idea/
/.svn/
/nbproject/
/.vscode/
/docker/
/vendor/
/releases/
/build/
/node_modules/
/js/build/
/css/build/
test/log
*.!sync
log.txt
log-*.txt
.directory
.phpactor.json
docker-compose.yml
.php-cs-fixer.cache
.DS_Store
includes/.DS_Store