@import "bottom-panel";
@import "loading";
@import "notifications";
@import "grid";

.page-title {
  display: flex;
  align-items: center;
  padding: 9px 0 4px 0;

  a {
    &:focus {
      text-decoration: none;
    }
  }

  h1 {
    margin-left: 6px;
    padding: 0;
  }
}

.back-button {
  opacity: .8;
  text-decoration: underline;
  display: block;
}

.form-input {
  display: flex;
  margin: .75rem 0;
  &--vertical {
    flex-direction: column;
    .form-input__label {
      padding-right: 0;
      padding-bottom: 4px;
      flex-basis: 100%;
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
  &__label {
    padding-right: 12px;
    flex-basis: 260px;
    &-description {
      padding-top: 2px;
      opacity: .6;
      font-size: 12px;
    }
  }
  &__field {
    flex-grow: 1;
    input:not([type="checkbox"]), textarea, select {
      width: 100%;
      max-width: 325px;
    }
  }
}
