.toasted {
  background: #fff !important;
  border-radius: 0 !important;
  font-size: inherit !important;
  font-weight: inherit !important;
  color: inherit !important;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1) !important;
}
