{% include 'admin/partials/app-footer-scripts.twig' %}

<div class="wrap">

    {# WordPress puts notices after a h1.wp-heading-inline element #}
    <h1 class="wp-heading-inline" style="display: none;"></h1>

    <div id="wpra-templates-app">
        <app></app>
    </div>

    <br class="clear">
</div>
