.wrap--wpra-update {
  padding-top: 1rem;
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
}

.wpra-text-center {
  text-align: center;
}

.wpra-updates ul {
  list-style: disc;
  padding: 0 1.25rem;
}

.wpra-inline-form {
  display: flex;
  align-items: baseline;

  button {
    margin-right: 12px !important;
  }

  small {
    font-size: 12px;
    opacity: .75;
  }
}


.wpra-update-head__title {
  font-size: 24px;
  font-weight: 500;
  padding: 1.5rem 0 1.5rem;
}

.wpra-update__logo img {
  width: 56px;
}

.button-icon span {
  vertical-align: baseline;
  margin-right: -7px;
  opacity: .6;
  font-size: 16px;
  top: 4px;
  position: relative;
}

.wpra-links {
  padding-top: .5rem;
}

.wpra-update-head__link {
  font-size: 1rem;
  padding-bottom: 1.5rem;
}

.wpra-update-feature {
  display: flex;
  padding: 0 18px 12px !important;
}

.wpra-update-feature__text {
  padding-right: 12px;
  h3 {
    margin-top: 8px;
  }
}

.wpra-update-feature__image {
  width: 55rem;
  overflow: hidden;
  position: relative;
  margin: -11px -18px -23px 0;

  img {
    max-height: 29rem;
    position: absolute;
  }
}
