@import "./../mixins";

.wrap--wpra-update {
  padding-top: 1rem;

  @include breakpoint(not-mobile) {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
  }
}

.wpra-text-center {
  text-align: center;
}

.wpra-updates ul {
  list-style: disc;
  padding: 0 1.25rem;
}

.wpra-inline-form {
  display: flex;
  align-items: baseline;

  button {
    margin-right: 12px !important;
  }

  small {
    font-size: 12px;
    opacity: .75;
  }
}


.wpra-update-head__title {
  font-size: 24px;
  font-weight: 500;
  padding: 1.5rem 0 1.5rem;
  line-height: 1.4;
}

.wpra-update__logo img {
  width: 56px;
}

.button-icon span {
  vertical-align: baseline;
  margin-right: -7px;
  opacity: .6;
  font-size: 16px;
  top: 4px;
  position: relative;
}

.wpra-links {
  padding-top: .5rem;
}

.wpra-update-head__link {
  font-size: 1rem;
  padding-bottom: 1.5rem;
  line-height: 1.5;
}

.wpra-update-feature {
  display: flex;
  padding: 0 18px 12px !important;

  @include breakpoint(mobile) {
    flex-direction: column-reverse;
  }
}

.wpra-update-feature__text {
  @include breakpoint(not-mobile) {
    padding-right: 12px;
  }

  h3 {
    margin-top: 8px;
    @include breakpoint(mobile) {
      margin-top: 16px;
    }
  }

  p {
    font-size: 14px;
  }
}

.wpra-update-feature__image {
  flex-shrink: 0;
  width: 20rem;
  overflow: hidden;
  min-height: 336px;
  position: relative;
  margin: -11px -18px -23px 0;

  @include breakpoint(mobile) {
    flex-shrink: unset;
    width: unset;
    min-height: unset;

    max-height: 15rem;
    margin: -11px -18px 0px;
  }

  img {
    max-height: 29rem;
    position: absolute;

    @include breakpoint(mobile) {
      max-height: unset;
      position: unset;

      max-width: 100%;
    }
  }
}
