{% include 'partials/app-footer-scripts.twig' %}

<div class="wrap">
    <h1 class="wp-heading-inline">Templates</h1>
    <a href="http://scotchbox.local/wp/wp-admin/post-new.php" class="page-title-action">Add New</a>
    <hr class="wp-header-end">

    <div id="wpra-templates-app">
        <app></app>
    </div>

    <br class="clear">
</div>
